.header{
    min-height: 100vh;
    overflow: hidden;
    padding-top: 3.125rem;
    background-image: url(../../images/slider_bg.e867552c.jpg);
    background-size: cover;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.caption{
    padding: 1.25rem;
    margin-bottom: 3.125rem;
}
.caption h1{
    font-size: 6.25rem;
    color: white;
    text-shadow: -0.0625rem 0.3125rem 0 var(--green);
    font-weight: 900;
    font-family: var(--roboto);
    letter-spacing: 0.3125rem;
}
.sub_title{
    padding:0.625rem 0.9375rem;
    border-radius: 0.625rem;
    color: var(--main_color);
    background:linear-gradient(to left,transparent, transparent,transparent , rgba(69,248,130,.3));
}
.sub_title h6{
    font-family: var(--poppins);
    font-weight: 800;
    font-size: 1.125rem;
    letter-spacing: 0.25rem;
}
.caption p{
    font-family: var(--poppins);
    font-size: 1.625rem;
    letter-spacing: 0.3125rem;
    font-weight: 700;
    color: white;
}

.img_header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    }
    .header_brands{
        margin-inline: 30px;
    }

    .svg_styled_one{
        background: linear-gradient(45deg, var(--main_color) 50%,transparent 50%);
        width:50%;
        height: 50px;
    }


@media screen and (min-width:992px) and (max-width:1115px) {
    .caption{
        padding-left: 3.125rem;
    }
}

@media screen and (max-width:992px) {
    .caption h1{
        font-size:4.6875rem;
    }
}
@media screen and (max-width:911px) {
    .caption h1{
        font-size:60px;
    }
}



@media screen and (max-width:816px) {
    .row{
        padding: 20px 0;
    }
    .header_caption{
        padding: 0 !important;
        width: fit-content;
    }
    .caption{
        text-align: center;
        margin:auto;
    }
}



@media screen and (max-width:768px) {
    .header{
        align-items: center;
    }
    .img_header{
        margin-top: 30px;
    }
    .caption h1{
        font-size:6.25rem;
    }

}

@media screen and (max-width:500px) {
    .caption h1{
        font-size:50px;
    }
    .img_header{
        padding: 10px;
        width:100%;
    }
}
@media screen and (max-width:300px) {
    .caption h1{
        font-size:30px;
    }
    .img_header{
        padding: 10px;
        width:100%;
    }
}