@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700;800;900&family=Poppins:wght@600;700;800&family=Roboto:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main_font);
}

body{
    background-color: #0B0E13 !important;
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}

:root{
    --main_color:#45F882;
    --green:rgba(69,248,130,.66);
    --dark:#121A23;
    --golden:#F2BD12;
    --gray:#9b9b9b2f;
    --main_font:'Barlow', sans-serif;
    --roboto:'Roboto', sans-serif;
    --poppins:'Poppins', sans-serif;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main_color);
    border-radius: 0.625rem;
}   
::-webkit-scrollbar-track{
    background-color: var(--dark);
}
::-webkit-scrollbar{
    background-color: var(--dark);
    width: 0.625rem;
}

a{
    text-decoration: none !important;
}
button,input{
    outline: none;
    border: none;
    background-color: transparent;
}
.special_color{
    color: var(--golden)
}
.special_main_color{
    color: var(--main_color)
}
.btn-close{
    display:none;
}
ul{
    list-style: none;
}

@media screen and (max-width:768px) {
    body,html{
        font-size: 14px !important;
    }
}