.white_button{
    background-color: var(--main_color);
    color: rgb(49, 49, 49);
    padding:15px 25px;
    font-family: var(--poppins);
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: 3.75rem;
    border-top: 0.125rem solid white;
    border-bottom: 0.125rem solid white;
    transition: background-color .3s;
    position: relative;
}
.white_button:hover{
    background-color:white;
}
.white_button:hover .arrow_left {
    left: -20%;
}
.white_button:hover .arrow_right {
    right: -20%;
}
.arrow_left{
    position: absolute;
    left: -14.5%;
    top: -20%;
    width: 65px;
    transition: left .3s;
}
.arrow_right{
    position: absolute;
    right: -14.5%;
    top: -20%;
    width: 65px;
    transform: rotate(180deg);
    transition: right .3s;
}