.side_bar{
    background-color: var(--dark) !important;
    padding: 1.25rem 0.625rem;
    padding-bottom: 0;
    color: white !important;
}
.logo{
    width: 11.25rem;
}
.header{
    border-bottom: 0.0625rem solid var(--gray);
}
.title{
    margin-top: 1.5625rem;
    margin-bottom: 3.125rem;
    font-size: 1.875rem;
    font-weight: 700;
}
.close_icon{
    font-size: 1.875rem;
    color:#adadad;
    background-color: var(--gray);
    padding: 0.4375rem;
    border-radius: 50%;
    cursor: pointer;
    transition:all .5s;
}
.close_icon:hover{
    background-color: var(--main_color);
    color: black;
}
.contact{
    font-size: 1.125rem;
    font-weight: 600;
}
.ordered_list{
    list-style:square;
    padding: 0.625rem 1.25rem;
}
.ordered_list li{
    color: #b8b8b8;
    margin: 0.625rem 0;
    cursor: pointer;
    transition: color .5s;
}
.ordered_list li:hover{
    color: var(--main_color);
}

.subscribe_text{
    color: #b8b8b8;
}
.slide_footer{
    font-size: 0.9375rem;
}